<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - SnakePlan</title>
    <link rel="stylesheet" href="{{MEDIA_URL}}/css/screen.css" type="text/css" media="screen, projection" />
    <!-- Enough is enough! I have had it with these motherfucking snakes on this motherfucking plan! -->
</head>

<body>
    <h1>{% block pagetitle %}SnakePlan{% endblock %}</h1>

    <ul class="action-bar">
    {% block actionbar %}{% endblock %}
    </ul >


    {% block content %}{% endblock %}
</body>

<p class="copyright">SnakePlan is open-source under the Apache License. You can play with the snake, he won't bite.</p>
</html>
