{% extends "base.html" %}

{% block title %}{{ project_name }} Iterations{% endblock %}
{% block pagetitle %}{{ project_name }} Iterations{% endblock %}

{% block actionbar %}
<li><a href="{% url project-list %}" class="action"><img src="{{MEDIA_URL}}/images/arrow_left.png" title="Back to Projects" alt="Back to Projects" /> Project List</a></li>
<li><a href="{% url create-project %}" class="action"><img src="{{MEDIA_URL}}/images/add.png" title="Create" alt="Create" /> Create Iteration</a></li>
{% endblock %}

{% block content %}
{% if object_list %}
<table>
    <tr>
        <th>Iteration</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
{% for iteration in object_list %}
    <tr>
        <td><a href="{% url iteration-stories iteration.project.id iteration.id %}">{{iteration.name}}</a></td>
        <td>{{iteration.description}}</td>
        <td>{{iteration.start_date}}</td>
        <td>{{iteration.end_date}}</td>
    </tr>
{% endfor %}
</table>
{% else %}
<div class="user-notice info">There are no iterations</div>
{% endif %}
{% endblock %}
