/*********************************************************************
 * Base                                                              *
 *********************************************************************/
body {
    font: 12px Verdana, Arial, sans-serif;
    margin: 0;
}
         
h1, h2, h3, h4, h5 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    text-align: center;
}

a {
    color: #00F;
}

form, table, .action-bar {
    width: 75%;
    margin: auto;
}

table {
    margin: auto;
    border: 1px solid #CCC;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
    border: 1px solid #AAA;
}

th {
    background: #AAA;
    text-align: center;
    border-bottom: 1px solid black;
}

.copyright {
    text-align: center;
    font-size: 0.8em;
    color: #999;
}

.row-actions {
    text-align: center;
}

.action-bar {
    margin: 10px auto;
    padding: 0px;
    list-style: none;
    height: 20px;
}

.action-bar li {
    display: block;
    float: right;
    padding: 0 10px;
}

a.action {
    text-decoration: none;
    color: #000;
}

a.action img {
    vertical-align: middle;
}


/*********************************************************************
 * Messages                                                          *
 *********************************************************************/
div.warning {
    border-color: #FC3;
    background: #FF9 url('../images/warning.png');
}

div.error {
    background: #FCC url('../images/error.png');
    border-color: #903;
}

div.info {
    background: #CCF url('../images/info.png');
    border-color: #00C;
}

div.user-notice {
    border-width: 1px;
    border-style: solid;
    padding: 20px 20px 20px 50px;
    width: 50%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: 20px;
}


/*********************************************************************
 * Forms                                                             *
 *********************************************************************/
fieldset ol {
    padding: 0;
    list-style: none;
}

fieldset ol li {
    float: left;
    clear: left;
    width: 100%;
    padding-bottom: 1em;
}

fieldset label {
    float: left;
    width: 10em;
    margin-right: 1em;
    text-align: right;
}

fieldset {
    border: 0;
}

fieldset.submit {
    padding-left: 10em;
}

fieldset legend {
    display: none;
}


/*********************************************************************
 * Projects                                                          *
 *********************************************************************/
.project.inactive, .project.inactive a {
    color: #999;
}
